body{
    margin: 0px;
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
}

h1{
    margin: 0px;
    font-family: 'Sacramento', cursive;
    font-size: 450%;
    color: #66BFBF;
    line-height:2;
}

h2{
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
.top-container{
    background-color: #E4F9F5;
    padding-top: 100px;
    width: 100%;
    height: 600px;
    padding: 30px;

}

.bottom-cloud{
    position: absolute;
    top: 200px;
    left: 350px;
}
.top-cloud{
    position: absolute;
    top: 40px;
    right: 300px;
}
.inner-div{
    margin: 30px auto 0;
}
.mountain{
    position: absolute;
    top: 250px;
    left: 400px;

}
#my-image{
    padding:20px;
}
.skill-row{
    width: 50%;
    margin: 40px auto;
}
.flutter-img{
    width:400px;
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #1874ad;
  background-image: -webkit-linear-gradient(top, #1874ad, #3498db);
  background-image: -moz-linear-gradient(top, #1874ad, #3498db);
  background-image: -ms-linear-gradient(top, #1874ad, #3498db);
  background-image: -o-linear-gradient(top, #1874ad, #3498db);
  background-image: linear-gradient(to bottom, #1874ad, #3498db);
  text-decoration: none;
}
hr{
    border: dotted #EAF6F6 6px;
    border-bottom:none;
    width: 25%;

}
.contact-me{
    margin-bottom: 50px;
}
.bottom-container{
    background-color:#66BFBF;
    height: 100px;
}
.bottom-contents{
    margin-left:30px;
}
